 .cardGridItem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 350px;
  text-align: center;
  font-family: arial;
  height: 100%;

  img {
    width: 100%;
    height: 400px;
    object-fit: scale-down;
  }
  
  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    &:hover {
        opacity: 0.7;
    }
  }
}

.price {
  color: grey;
  font-size: 22px;
}
