* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 60px;
}

/* input {
  width: 100%;
  font-size: 1.2rem;
  color: gray;
  font-family: 'Courier New', Courier, monospace;
} */

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.grid-container{
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  flex-grow: 4;
  height: 100%;
  justify-content: space-around; 
}

